@import "tailwindcss";

@theme {
    /* Fonts */
    --font-primary: 'Montserrat', sans-serif;
    --font-secondary: 'Poppins', sans-serif;
    
    /* Colors */
    --color-primary: #152238;
    --color-secondary: #192841;
    --color-tertiary: #1c2e4a;
    --color-quaternary: #203354;
    --color-quinary: #23395d;

    /* Background Images */
    --background-image-gradient-primary: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(121,157,255,1) 50%, rgba(66,90,175,1) 100%);
    
    /* Animations */
    --animation-infinite-scroll: infinite-scroll 20s linear infinite;
    --animation-spiral-in: spiral-in 2s backwards;
}

:root {
    --navbar-height: 50px;
}

@keyframes spiral-in {
    0% {
        background-size: 200%;
    }
    100% {
        background-size: 100%;
    }
}

@keyframes infinite-scroll {
    from { 
        transform: translateX(0);
    }
    to { 
        transform: translateX(-100%);
    }
}

@layer components {
    html {
        scroll-behavior: smooth;
    }

    * {
        @apply font-primary;
    
        scroll-margin-top: var(--navbar-height);
    }
    
    p, label, input, textarea, li {
        @apply font-secondary;
    }

    span {
        @apply text-gray-500 font-medium;
    }

    h1, h2, h3, h4, h5, h6 {
        @apply font-bold;
    }

    h1 {
        @apply text-2xl;
    }

    h2 {
        @apply text-xl;
    }

    h3 {
        @apply text-lg;
    }

    h4 {
        @apply text-base;
    }

    h5 {
        @apply text-sm;
    }

    h6 {
        @apply text-xs;
    }

    .tag {
        @apply bg-primary;

        &[data-status="unige"] {
            background-color: #D6005A;
        }

        &[data-status="volunteering"] {
            @apply bg-blue-500;
        }

        &[data-status="internship"] {
            @apply bg-blue-500;
        }
    }

    .repo {
        .property {
            &[data-status="stars"] {
                @apply text-yellow-500;
            }

            &[data-status="forks"] {
                @apply text-gray-700;
            }
        }
    }
}